<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid navbarSupportedContent">
    <a class="navbar-brand" href="#">DonkeySeries</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" data-bs-target="#navbarSupportedContent" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_index') }}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('category_index') }}">Catégories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Acteurs</a>
        </li>
      </ul>
        <span class="navbar-text">
        Mes favoris
        </span>
        <span class="navbar-text ms-3">
        Inscription
      </span>
      <span class="navbar-text ms-3">
        Connexion
      </span>
    </div>
  </div>
</nav>